@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.report-container {
  width: 100%;
  min-height: 100vh;
  @include m.flex-column-center;
  font-family: v.$font-family;
  padding: 2rem;

  h1 {
    color: v.$danger-color;
    margin: 1rem 0 3rem 0;
  }

  .sub-container {
    width: 800px;
    min-height: 600px;
    border: 2px solid v.$primary-color;
    margin-bottom: 2rem;

    div {
      width: 100%;
      height: 120px;
      border: none;
      border-bottom: 2px solid v.$primary-color;
      @include m.flex-column-center;

      table {
        width: 100%;
        height: 100%;
        padding: 1rem;

        table-layout: fixed;
        font-family: v.$font-family;
        font-size: v.$font-size-lg;
        .kalan td {
          width: 50%;
          height: 100%;

          &:first-child {
            text-align: left;
          }
          &:last-child {
            text-align: right;
            font-size: v.$font-size-sm;
            color: v.$danger-color;
          }
        }
      }
      table > tr:first-of-type {
        width: 100%;

        .name {
          text-align: center;
        }

        td {
          width: 33%;
          height: 100%;

          &:last-child {
            text-align: end;
          }
        }
      }
    }

    .receiptLogo {
      font-size: 6rem;
      color: v.$primary-color;
      width: 100% !important;
      height: 600px !important;
      @include m.flex-column-center;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
