@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.report-container {
  width: 100%;
  min-height: 100vh;
  @include m.flex-column-center;
  font-family: v.$font-family;
  padding: 2rem;

  h1 {
    color: v.$danger-color;
    margin: 1rem 0 3rem 0;
  }

  .sub-container {
    width: 700px;
    min-height: 600px;
    border: 2px solid v.$primary-color;

    div {
      width: 100%;
      height: 120px;
      border: none;
      border-bottom: 2px solid v.$primary-color;
      @include m.flex-column-center;

      table {
        width: 100%;
        height: 100%;

        .kalan {
          width: 100%;
          td {
            width: 100%;
            height: 100%;
            text-align: right;
          }
        }
      }
      table > tr:first-of-type {
        width: 100%;

        td {
          width: 33%;
          height: 100%;
        }
      }
    }
  }
}
