@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

footer {
  width: 100%;
  height: 400px;
  background-color: v.$primary-color;
  @include m.flex-column-center;
  padding: 2rem;
  cursor: pointer;

  .title {
    font-family: v.$font-family;
    color: v.$light-color;
    margin-bottom: 10px;
  }
  .sub-title {
    font-family: v.$font-family;
    font-size: v.$font-size-sm;
    color: v.$light-color;
    margin-bottom: 20px;
  }

  table {
    width: 90%;
    height: 300px;
    border-spacing: 10rem 1rem;
    tr {
      width: 100%;
      height: 20px;
    }
    td {
      width: 30%;

      i {
        font-size: 20px;
        margin-top: 1rem;
      }
    }
  }
}
