<footer>
  <h2 class="title">Aile Cüzdanı</h2>
  <p class="sub-title">Aile Cüzdanı İle Harcamlarınız Kontrol Altında</p>
  <table>
    <tr>
      <td><h3>Menü</h3></td>
      <td><h3>Destek</h3></td>
      <td><h3>Yasal</h3></td>
    </tr>

    <tr>
      <td>Ana Sayfa</td>
      <td>SSSS</td>
      <td>Gizlilik Politikası</td>
    </tr>
    <tr>
      <td>Hakkında</td>
      <td>İletişim</td>
      <td>Kullanım Şartları</td>
    </tr>
    <tr>
      <td>Harcamalar</td>
      <td>Yardım Merkezi</td>
    </tr>

    <tr>
      <td style="padding-top: 20px">
        <h3>Bizi Takip Edin</h3>
      </td>
      <td>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-square-x-twitter"></i>
      </td>
    </tr>
  </table>
  <p class="sub-title" style="margin-top: 30px">
    © 2025 Aile Cüzdanı.Tüm hakları saklıdır.
  </p>
</footer>
