// Color Palette

$primary-color: #001bb7;
$second-color: #0046ff;
$third-color: #41a67e;
$warning-color: #e5c95f;
$danger-color: #bf092f;
$light-color: #fff;
$gray-color: rgba(192, 192, 192, 0.4);

// Font
$font-family: "Roboto Slab", serif;
$font-size-base: 16px;
$font-size-sm: 14px;
$font-size-lg: 18px;

//Border-Radius
$border-radius-sm: 5px;
$border-radius-md: 10px;
$border-radius-lg: 15px;
$border-radius-max: 100%;
