@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.signin-container {
  width: 100%;
  min-height: 100vh;
  @include m.flex-column-center;

  h1 {
    color: v.$primary-color;
    margin-bottom: 2rem;
  }
  .signin-content {
    width: 500px;
    height: 500px;
    border: 2px solid v.$primary-color;
    border-radius: v.$border-radius-md;
    font-family: v.$font-family;

    form {
      width: 100%;
      height: 100%;
      @include m.flex-column-center;

      .password-content {
        width: 85% !important;
        @include m.flex-space-beetween;
        @include m.input-style;

        input {
          width: 80%;
          height: 2rem;
          border: none;
          font-size: v.$font-size-base;

          &:focus {
            outline: none;
          }
        }
      }

      .email {
        @include m.input-style;
      }
      .giris {
        @include m.green-button;
        margin-top: 1rem;
      }
      .toggleButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: v.$font-size-base;
      }
      span {
        margin-top: 1.5rem;
        font-family: v.$font-family;
        font-size: v.$font-size-sm;
      }
    }
  }
}
