@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

header {
  width: 100%;
  height: 120px;
  background-color: v.$primary-color;
  color: v.$light-color;
  font-family: v.$font-family;
  font-size: v.$font-size-base;
  @include m.flex-space-beetween;

  .logo {
    width: 300px;
    height: 80px;
    padding-left: 1rem;
    @include m.flex-row-start;
  }
  .sign-in {
    width: 100px;
    height: 80px;
    @include m.flex-row-center;
    padding-right: 10px;

    button {
      @include m.green-button;
    }
  }
}
