@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.home-content {
  width: 100%;

  @include m.flex-column-start;
  font-family: v.$font-family;
  padding-top: 6rem;

  .slogan {
    width: 700px;
    height: 300px;
    color: v.$second-color;
    text-align: center;
    @include m.flex-column-center;

    .details {
      @include m.green-button;
      margin-top: 2rem;
    }
  }

  .site-inf {
    width: 100%;
    margin-top: 1rem;

    table {
      width: 100%;
      height: 100%;
      padding: 3rem;
      border-collapse: separate;
      border-spacing: 0 20px;

      tr {
        width: 80%;
        height: 300px;
        background-color: v.$gray-color;

        td {
          width: 40%;
          height: 100%;
          padding: 1rem;

          p {
            width: 100%;
            height: 100%;
            @include m.flex-row-center;
          }

          img {
            width: 100% !important;
            height: 300px !important;
            object-fit: cover;
            object-position: center;
            border-radius: v.$border-radius-md;
          }
        }
      }
    }
  }
}
