<app-public-header></app-public-header>
<div class="home-content">
  <div class="slogan">
    <h1>Aile Cüzdanı İle Artık Harcamalarınız Kontrol Altında</h1>

    <button class="details">Detay</button>
  </div>
  <div class="site-inf">
    <table>
      <tr>
        <td>
          <img src="../../../assets/inf-1.png" alt="resim bulunamadı" />
        </td>
        <td>
          <p>
            Aile Cüzdanı ile artık kontrolsüz harcamalara son.Uygulamayla
            beraber aylık harcamalarınız kontol altında tutabileceksiniz ve
            takibini kolay şekilde yapabilceksiniz.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <img src="../../../assets/inf-1.png" alt="resim bulunamadı" />
        </td>
        <td>
          <p>
            Aile Cüzdanı ile artık kontrolsüz harcamalara son.Uygulamayla
            beraber aylık harcamalarınız kontol altında tutabileceksiniz ve
            takibini kolay şekilde yapabilceksiniz.
          </p>
        </td>
      </tr>

      <tr>
        <td>
          <img src="../../../assets/inf-1.png" alt="resim bulunamadı" />
        </td>
        <td>
          <p>
            Aile Cüzdanı ile artık kontrolsüz harcamalara son.Uygulamayla
            beraber aylık harcamalarınız kontol altında tutabileceksiniz ve
            takibini kolay şekilde yapabilceksiniz.
          </p>
        </td>
      </tr>
    </table>
  </div>
</div>
<app-footer></app-footer>
